@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');
body{
    font-family: 'Roboto', sans-serif;
}
.club_background{
    background-color: rgb(244, 51, 57);
    text-align: center;
   }
.mario_club{
    display: inline-flex;
    color: white;
    font-weight: 900;
    font-size: 5vh;
    padding: 1vh 2vh 1vh 2vh;
    border-style: solid;
    border-width:1vh;
    border-color: white;
    border-radius: 110px;
}
.welcome{
    position: relative;
    text-align: center;
    
}
.banner{
    width: 100%;
   }

.welcome-background{
    position: absolute;
    bottom: 30%;
    background-color: #ffae00;
    height: auto;
    text-align: left;
    padding: 2% ;
    max-width: 40%;
    max-height: 40%;;

}
.welcome-text{
    color:white;
    font-size: 7.2vw;
   
}

#space::after{
    content: "\a";
    white-space: pre;
}

  .navbutton {
    outline: none;
    border: 0;
    background: none; 
    width: 20vw;
    height: 5vh;
    font-family: 'Roboto', sans-serif;
    padding-top: 1.5vh;
     }
  
  .flex-container {
    display: flex ;
    justify-content: space-evenly;
    height: 6vh;
    background-color: rgba(243, 243, 243, 255);   
    list-style-type: none;       
    margin-top:-1vh;
    padding: 0;
   }
 
  .nav-link:link {
    font-size: 1.5vw;
    text-decoration: none;
    color: #4d4d4e; 
    
  }
 .list_item{
    display: block;
        
 }
  .nav-link:visited{
    color: #4d4d4e;
  }
  
  .nav-link:hover {
    color: rgb(244, 51, 57);
  }
  h1 {
    color: red;
    margin-left: 2vmax;
    
  }
  .main-text {
    margin-left: 2vmax;
    margin-right: 2vmax;
    font-size: 2vh;
    line-height: 150%;
  }
  .bold p::first-line{ 
    font-weight: bold;
  }
  .game-images{
    display: flex;
    justify-content: space-evenly;
  }
  .game-images img{
    width: 43vw;
  }
  .join-today-box{
    background-color: rgba(243, 243, 243, 255);
    height: 18rem;
    
  }
  .join-today-text{
    font-size: xx-large;
    text-align: center;
    padding-top: 3rem;
  }
  .join-today-lorem{
    text-align: center;
    font-size: large;
  }
  .join-today-textarea{
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 2rem;
    max-width: 100%;
  }
  .footer-box{
    background-color: rgb(244, 51, 57);
    height: 9vh;
    color: #fff;
  
  }
  .footer-textbox{
    text-align: center;
    padding-top: 1.2vh;
  
    
  }
  .copyrights{
    text-align: center;
  }
@media screen and(max-width:900px) {
  .game-images img{
    width: 34vw;
  }
  
}